.container {
	border-color: red;
	border-style: solid;
	border-width: 1px;
}


.row {
	border-color: blue;
	border-style: solid;
	border-width: 1px;
	text-align: center;
}

.col-xs-1 {
	border-color: orange;
	border-style: solid;
	border-width: 1px;
}

.col-xs-2 {
	border-color: orange;
	border-style: solid;
	border-width: 1px;
}

.cell {
	margin: 10px;
	height: 70px;
	width: 70px;
	background-color: #83C3FF;
	border-radius: 10px;
	text-align: center;
}

.buttonsPlay {
	border-color: orange;
	border-style: solid;
	border-width: 1px;
	height: 100px;
	padding-top: 30px;
}

.pOne {
	border-color: orange;
	border-style: solid;
	border-width: 1px;
}



